.gradle
.idea
.nb-gradle
.metadata

**/.classpath
**/.DS_Store
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/*.iml
**/*.swp
**/*~
**/bin
**/build
**/build_gradle
**/classes
!**/WEB-INF/**
**/dist
**/liferay-theme.json
**/node_modules
**/out/**
**/reasonFile
**/soy.js
**/test-coverage
**/tmp

artifacts
bundles
logs/*

plugins-sdk/**/classes
plugins-sdk/**/ivy.xml.MD5
plugins-sdk/**/liferay-hook.xml.processed
plugins-sdk/dependencies/**/*.jar
plugins-sdk/dist
plugins-sdk/lib

modules/tests/functional-tests/reports/
modules/tests/functional-tests/build/
modules/tests/functional-tests/SeleniumProperties/chromedriver.exe

docker/liferay-docker.tar.gz

###############################################################################
# Loadrunner Test Scripts
modules/tests/performance-tests/**/Breakpoints.xml
modules/tests/performance-tests/**/*.sdf
modules/tests/performance-tests/**/ReplaySummaryReport.xml
modules/tests/performance-tests/**/ThumbnailsCache.tmp
modules/tests/performance-tests/**/UserTasks.xml
modules/tests/performance-tests/**/*.bak
modules/tests/performance-tests/**/*.idx
modules/tests/performance-tests/**/*.log

# Files created during compilation
modules/tests/performance-tests/**/combined_*.c
modules/tests/performance-tests/**/CompilerLogMetadata.xml
modules/tests/performance-tests/**/*.c.pickle
modules/tests/performance-tests/**/*.ci
#modules/tests/performance-tests/**/logfile.log
modules/tests/performance-tests/**/mdrv_cmd.txt
modules/tests/performance-tests/**/options.txt
modules/tests/performance-tests/**/pre_cci.c

# Files needed for recording snapshots and script regeneration (optional)
# Note: may have a problem if there are any other version controlled folders 
# called "data"
modules/tests/performance-tests/*/data/
modules/tests/performance-tests/*/replay.har
modules/tests/performance-tests/*/shunra.shunra
modules/tests/performance-tests/*/TransactionsData.db


# Files created during script replay (definitely don't need these)
modules/tests/performance-tests/**/result[1234567890]*/
#modules/tests/performance-tests/**/mdrv.log
modules/tests/performance-tests/**/output.txt

modules/tests/performance-tests/*.zip
